<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Names</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Recipe Name, Ingredients, and Total Time</h1>
    <p>
        <%= recipe.name %>
    </p>
    <p>
        <%= recipe.ingredients %>
    </p>
    <p>
        <%= recipe.totalTime %>
    </p>
    <div>
        <%= recipe.instructions %>
    </div>
    <div>
        <a href="/easypeasy/recipe/<%=recipe.id%>/edit">Edit this recipe</a>
        <br>
        <a href="/easypeasy/recipe">Recipe Index</a>

    </div>
</body>

</html>